
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    line-height: 1.6;
}

.flex{
    display: flex;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header img {
    border-radius: 50%;
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

header h1, header p {
    text-align: center;
}

section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

section h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-top: 1px solid #555;
    width: 100%;
}


.education-entry, .experience-entry, .certification-entry, .interests ul, .hobbies ul, .projects .project {
    margin-bottom: 20px;
}


@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    header img {
        max-width: 100%;
        height: auto;
    }

    header h1 {
        font-size: 24px;
    }

    section {
        padding: 10px;
    }

    section h2 {
        font-size: 20px;
    }

    section ul li {
        margin-bottom: 6px;
    }
}
